.btn:focus {
    box-shadow: none;
}

.site-btn-login{
   font-weight: 300;
   padding: 5px;
   width: 100%;
   font-family: 'Roboto Condensed', sans-serif;
   color: white !important;
   background: #051b35 !important;
}


.site-btn{
    font-weight: 300;
    padding: 5px;
}